body{
    padding: 0;
    margin: 0;
}

.navigation{
    border: 1px solid red;
    padding: 1% 0;
}

.navigation nav{
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.navigation .logo{
    border: 1px solid yellow;
}

.navigation .logo img{
    width: 60px;
    height: 60px;
}

.navigation .menu{
    border: 1px solid ;
}

.navigation .menu ul{
    display: flex;
    padding: 0px;
    width: 100%;
    justify-content: space-between;
}

.navigation .menu li{
    list-style-type: none;
    border: 1px solid;
    margin: 0 12px;
}

.navigation .menu a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navigation .contactNav{
    border: 1px solid darkred;
}

.navigation .contact button{
    background-color: orangered;
    padding: 5% 20px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 15px;
    width: 100%;
}

/* burger */
.burger{
    font-size: 30px;
    display: none !important;
    cursor: pointer;
}

/* dropMenu */
.navigation .dropMenu {
    position: absolute;
    background-color: orange;
    top: 85px;
    left: -100% !important;
    width: 55%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .dropMenuLeft{
    left: -800px !important;
} */

.menuDrop{
    border: 1px solid white;
    width: 80%;
}

.menuDrop ul{
    padding: 0;
    margin-bottom: 60px;
}

.menuDrop li{
    list-style-type: none;
    margin-bottom: 35px;
}

.menuDrop li:hover{
    background-color: white;
    padding: 10px;
    padding-left: 50px;
    transition: 1s ease;
}

.menuDrop li:hover a{
    color: orangered;
}

.menuDrop a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.menuDrop .close{
    position: absolute;
    top: 20px;
    right: 20px;
}

.menuDrop .close i{
    font-size: 35px;
    color: orangered;
    cursor: pointer;
}

.dropMenu .dropContactNav button{
    background-color: orangered !important;
}

/* .dropMenu button:hover {
    bottom: 10px;
} */


/* Media queries */

@media (max-width: 768px){
    .menu{
        display: none;
    }

    .contactNav,button{
        display: none;
    }

    nav .burger{
        display: block !important;
    }
}

@media only screen and (min-width: 701px) and (max-width:930px){
    .menu{
        display: none;
    }

    .contactNav,button{
        display: none;
    }

    nav .burger{
        display: block !important;
    }
}