
*{
    margin: 0;
    padding: 0;
}

#banner{
    background: linear-gradient(0deg, #0000008f, #0000008f), url("../forma2/image_forma2/3.jpg");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    background-position: center;
    color: white;
    margin-top: 100px;

}
#banner .banner-texte{
    margin-left: 80px !important;
}
.banner-texte .banner-Title{
    margin-top: 50%;
}

/* main */

.has-search .form-control {
    padding-left: 2.375rem;
}
.input-group{
    width: 25% !important;
    
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.logo img{
    width: 5%;
    border-radius: 50%;
    box-shadow: 2px 2px 2px grey;
    
}

 /* ...coments.... */

 /* .btn {
   text-decoration: none;
   color: white;
   background: var(--orange);
   padding: .5em;
   border-radius: 2px;
   display: inline-block;
 }

 .wrapper {
   margin: 1rem 0;
 }
 .container {
   max-width: 960px;
   width: 100%;
   margin: 0 auto;
 } */
 /* .petronas-youtube {
   overflow: hidden;
 }
 .video-list-header {
   padding: 0 1rem;
   color: green;
   margin: 0;
 } */
 /* .video-player {
   padding: 1rem 0;
   float: left;
   width: 70%;
   iframe {
     display: block;
     margin: 0 auto;
   }
 } */
 /* .video-sidebar {
   float: left;
   width: 30%;
 }
 .video-list-container {
   list-style-type: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
   .video-container {
     float: left;
     width: 180px;
     padding: 1rem;
   }
   .video-thumbnails {
     position: relative;
     img {
       max-width: 100%;
     } */
     /* .video-index {
       position: absolute;
       color: white;
       background: $green;
       padding: .5rem;
       bottom: .5rem;
       right: .25rem;
     }
   } */
   /* .video-details {
     .video-title {
       font-size: 1em;
       margin: 0;
       padding: .5rem 0;
     }
     .video-uploader,
     .video-view {
       font-size: .8em;
       margin: 0;
     }
   }
 } */
 .video-comments {
   width: 100%;
   margin: 1rem auto 0;
   .comments {
     resize: none;
     width: 100%;
     padding: 1rem;
     font-size: 1em;
     font-family: 'Lato', sans-serif;
   }
   .comments-list {
     list-style: none;
     padding: 0;
   }
   .commenter {
     font-size: .8em;
   }
   .comment-post {
     margin-top: 1rem;
   }
 }
  /* ...coments.... */
 .sidebar-dvd{
    border: 1px solid black;
    background-color: rgb(246, 242, 242);
    padding: 2%;
    border-radius: 2%;
    margin: 0 auto;
 }
 .persComent img{
    border-radius: 50%;
    width: 50%;
 }
.play-dvd{
    /* border: 1px solid black; */
    padding: 20px;
}

/* main */





/* footer */
footer {
    background-color: var(--orange);
    margin-top: 8%;
}

.footerContent .logoFooter {
    background-color: white;
    position: relative;
    bottom: 40px;
}

.footerContent .logoFooter:hover {
    bottom: 0;
    background-color: rgb(0, 1, 5);
    transition: 2s ease;
}

.footerContent .logoFooter img {
    width: 100%;
}

.footerContent .contentFooter {
    padding: 4% 8% 0 8%;
}

.contentFooter .footerIpt {
    border-radius: 15px;
    margin-bottom: 6%;
}

.contentFooter .footerIpt input {
    width: 60%;
    border-radius: 15px 0 0 15px;
    background-color: var(--orange);
    border: none;
    padding-left: 20px;
}

.contentFooter .footerIpt input::placeholder {
    font-size: 20px;
    color: white;
}

.contentFooter .footerIpt button {
    background-color: white;
    width: 40%;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: var(--orange);
}

.contentFooter .pagesFooter h6 {
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin-bottom: 3%;
}

.contentFooter .pagesFooter {
    margin-bottom: 6%;
}

.contentFooter .pagesFooter li {
    margin-bottom: 20px;
}

.contentFooter .pagesFooter li a {
    font-size: 18px;
    font-weight: 700;
    color: white !important;
}

.contentFooter .pagesFooter li a:hover {
    margin-left: 20px;
    color: black !important;
    transition: 1s ease;
}

.contentFooter .traitFooter {
    background-color: white;
    height: 4px;
    border: none;
    margin-bottom: 2%;
}

.contentFooter .copyrightFooter .leftCopy {
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.contentFooter .copyrightFooter .rightCopy i {
    color: white;
    margin-left: 15px;
}

.contentFooter .copyrightFooter .rightCopy a:hover {
    position: relative;
    bottom: 8px;
    transition: 2s ease;
}

/* footer */